div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 5rem;
}

div a {
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: red;
}
